/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
body {
  font-family: 'Raleway', sans-serif;
  min-width: 265px;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

body, a {
  color: #717171;
  text-decoration: none;
  font-weight: 600;
}

body a:hover {
  color: white;
  transition-duration: 0.5s;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* FINE COMMON */
/* MAIN */
/* MAIN's > Side Bar */
.side-bar {
  width: 250px;
  height: calc(100vh - 100px);
  float: left;
  overflow: hidden;
  background-color: black;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60%;
}

.logo img:last-child,
.logo img:nth-child(2) {
  display: none;
}

/* Side Top Nav */
.side-top-nav {
  margin-left: -15px;
}

.side-nav li img {
  width: 12%;
  display: inline-block;
  vertical-align: middle;
}

.side-nav li {
  padding-left: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.side-nav li:hover {
  cursor: pointer;
}

.side-nav li:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #1CB955;
  transform: translateX(-4px);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.side-nav li:hover:before,
.side-nav li:focus:before,
.side-nav li:active:before,
.side-nav li.active-side-nav:before {
  transform: translateY(0);
}

.active-side-nav {
  color: white;
}

.side-nav .active-side-nav,
.side-nav li:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/* Playlists */
.playlists-container {
  margin-top: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.add-playlist .cross {
  color: black;
  background-color: #717171;
  font-size: 55px;
  font-weight: 400;
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.add-playlist {
  margin-top: 15px;
  line-height: 38px;
  cursor: pointer;
}

.add-playlist:hover .cross {
  background-color: white;
  transition-duration: 0.5s;
}

.add-playlist:hover a {
  color: white;
  transition-duration: 0.5s;
}

.bottom-playlists {
  height: calc(100% - 71px);
}

.playlist-list {
  height: 100%;
  min-height: 65px;
  overflow-y: auto;
}

.playlist-list li {
  margin-top: 16.5px;
  cursor: pointer;
}

.playlist-list li:hover a{
  color: white;
  transition-duration: 0.5s;
}

/* Bottom Side Bar */
.download-app {
  width: calc(100% - 15px);
  padding-bottom: 7px;
  font-size: 14px;
  border-bottom: 1px solid #717171;
  cursor: pointer;
}

.download-app img {
  width: 12%;
  opacity: 0.5;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -4px;
}

.download-app:hover img {
  opacity: 1;
  transition-duration: 0.5s;
}

.download-app:hover a {
  color: white;
  transition-duration: 0.5s;
}

.user {
  margin: 15px 0 10px;
}

.user-icon {
  background-color: #717171;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.user-icon img {
  height: auto;
  width: 77%;
  vertical-align: bottom;
}

.user-name {
  display: inline-block;
  color: white;
  font-weight: 700;
  margin-left: 5px;
  line-height: 25px;
}

.user:hover {
  cursor: pointer
}

/* Fine MAIN's > Side Bar */
/* MAIN's > Content */
.content {
  width: calc(100% - 250px);
  height: calc(100vh - 100px);
  float: left;
  background-color: #141922;
  overflow-y: auto;
}

/* Upgrade */
.upgrade {
  width: calc(100% - 250px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.upgrade-btn {
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 8px 40px;
  height: 40%;
  margin-right: 39px;
}

.upgrade-btn:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition-duration: 0.2s;
}

/* Content Section Nav */
.content-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-top: 100px;
}

.content-nav li {
  padding: 25px 10px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.content-nav li:hover a{
  color: white;
  transition-duration: 0.5s;
}

.content-nav li:before,
.active-top-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 15px;
  background: #1CB955;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.content-nav li:hover:before,
.content-nav li:focus:before,
.content-nav li:active:before,
.active-top-nav:before {
  left: 25%;
  right: 25%;
}

.active-top-nav {
  color: white;
}

.content-nav li:last-child {
  margin-right: 0;
}

.content-nav li a {
  text-transform: uppercase;
  font-weight: 700;
}

/* Music */
.music {
  padding: 0 20px 50px;
  color: white;
}


.smartphone-player{
  display: none;
}

.recently-played {
  margin-top: 5px;
}

.recently-played h2 {
  font-weight: 700;
}

.albums-container {
  margin-top: 33px;
  display: flex;
}

.album {
  width: calc(100% / 6);
  margin-right: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.album:last-child {
  margin-right: 0;
}

.album-img {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.album-img img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.popular-artists .album-img {
  border-radius: 50%;
}

.album:hover {
  cursor: pointer;
}

.album:hover .overlay {
  display: block;
}

.album-name {
  padding: 15px 0 5px;
}

.author {
  color: #717171;
  font-size: 14px;
  font-weight: 600;
}

.recomended-playists,
.popular-artists {
  margin-top: 50px;
}

.recomended-playists h2,
.popular-artists h2 {
  margin-bottom: 10px;
}

.popular-artists .album-img img {
  border-radius: 50%;
}

/* Fine MAIN's > Content */
/* FINE MAIN */
/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* Playing Track */
.now-playing {
  width: 250px;
  padding: 0 15px;
}

.footer-container-track {
  height: 100%;
  display: flex;
  align-items: center;
}

.track-image img {
  height: 45px;
  width: auto;
}

.track-info {
  margin-left: 10px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  flex-grow: 1;
}

.track-info a {
  font-weight: 600;
}

.track-info a:hover {
  text-decoration: underline;
}

.left-icons a {
  margin-left: 10px;
  font-size: 17px;
}

.left-icons i {}

.left-icons a:first-child {
  margin-left: 0;
}

/* Player */
.player {
  flex-grow: 1;
  width: calc(100% / 3);
  min-width: 150px;
}

.footer-container-player {
  text-align: center;
  height: 100%;
}

.player-commands {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-commands-container{
  width: 100%;
}

.player-commands-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-commands-icons a {
  margin-right: 30px;
  color: white;
}

.player-commands-icons a:last-child {
  font-size: 15px;
  margin-right: 0;
}

.player-commands-icons a:nth-child(3) {
  font-size: 38px;
  margin: 0 38px 0 8px;
}

.player-commands-icons a:nth-child(3):hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.player-commands-icons a:active,
.player-commands-icons a:nth-child(3):active,
.upgrade-btn:active{
  transform: translateY(1px);
}

.play-bar {
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.play-bar {
  font-size: 13px;
  color: white;
}

.track-bar {
  background-color: #717171;
  height: 4px;
  width: 61%;
  border-radius: 4px;
  margin: 6px 25px 0;
}

.current-time-bar {
  background-color: white;
  opacity: 0.6;
  width: 20%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.track-bar:hover {
  cursor: pointer;
}

.track-bar:hover .current-time-bar {
  opacity: 1;
  background-color: #1CB955;
}

.track-bar:hover .circle {
  display: block;
}

/* Player Settings */
.player-settings {
  width: 250px;
  padding: 0 15px;
}

.footer-container-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.volume-control{
  width: 71%;
  margin-left: 3px
}

.right-icons i,
.volume-control i {
  color: white;
  font-size: 15px;
  margin-right: 12px;
}

.volume-bar {
  display: inline-block;
  background-color: #717171;
  height: 4px;
  width: 75%;
  vertical-align: middle;
  border-radius: 4px;
}

.current-volume {
  background-color: white;
  opacity: 0.6;
  width: 49%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-bar:hover {
  cursor: pointer;
}

.volume-bar:hover .current-volume {
  opacity: 1;
  background-color: #1CB955;
}

.volume-bar:hover .circle {
  display: block;
}

/* FINE FOOTER */
/* SEZIONE RESPONSIVE */
@media all and (max-width: 991px) {
  .albums-container {
    flex-wrap: wrap;
  }

  .album {
    width: calc(100% / 4 - 15px);
  }
}

@media all and (max-width: 767px) {

  /* CONTENT */
  .content-nav li a {
    font-size: 14px;
  }

  .album {
    width: calc(100% / 2 - 15px);
  }

  /* FOOTER */
  .now-playing,
  .player-settings{
    width: calc(100% / 3);
    min-width: 150px;
  }

  .now-playing .left-icons{
    width: 18px;
    margin-right: 20px;
  }

  .track-info a{
    padding-right: 20px;
  }

  .left-icons a {
    margin-left: 0;
  }

  .player-commands-icons {
    justify-content: space-between;
  }

  .player-commands-icons a,
  .player-commands-icons a:nth-child(3) {
    margin: 0 20px 0 0;
  }

  .track-bar{
    margin: 6px 5px 0;
  }

  .right-icons{
    margin-left: 20px;
  }

  .volume-control{
    width: 48%;
  }

  .volume-bar {
    width: 57%;
  }

}

@media screen and (max-width: 576px) {

  /* SIDE NAV */
  .side-bar {
    width: 60px;
    padding-right: 15px;
  }

  .logo img:nth-child(2) {
    display: block;
    width: 100%;
  }

  .logo img:first-child
  .logo img:last-child,
  .side-nav a,
  .logo img,
  .playlists-container,
  .download-app a,
  .user-name {
    display: none;
  }

  .download-app {
    width: 100%;
    border: 0;
    padding: 0;
  }

  .download-app img {
    width: 80%;
    margin: 0;
  }

  .side-top-nav {
    flex-grow: 1;
  }

  .side-nav li img {
    width: 100%;
  }

  /* CONTENT */
  .content,
  .upgrade {
    width: calc(100% - 60px);
  }

  /* FOOTER */
  .now-playing .left-icons{
    margin-right: 0;
  }

  .player-commands-icons a,
  .player-commands-icons a:nth-child(3) {
    margin: 0 10px 0 0;
  }

  .right-icons{
    margin-left: 0;
  }

  .right-icons i,
  .volume-control i {
    margin-right: 5px;
  }

  .volume-control{
    width: 59%;
  }

  .volume-bar{
    width: 63%;
  }
}

@media screen and (max-width: 500px) {
  .track-info {
    font-size: 10px;
    padding-right: 2px;
  }

  .track-image img {
    height: 40px;
    width: auto;
  }
}

/* Bonus sezione Smartphone */
@media screen and (max-width: 449px) {
  /* FOOTER */
  footer{
    position: fixed;
    top: 290px;
    background-color: #000000;
  }

  .player-commands-icons {
    justify-content: space-between;
  }


  .player-commands-icons a{
    font-size: 20px;
  }

  .player-commands-icons a:nth-child(3){
    font-size: 57px;
  }

  .player-commands-icons a:last-child{
    font-size: 19px;
  }

  .play-bar{
    display: flex;
    padding: 0 20px;
  }

  .player-commands{
    height: 70%;
  }

  .player-commands-icons {
    justify-content: space-evenly;
  }

  .track-bar{
    width: 70%;
  }

  /* SIDE NAV */
  .logo img:nth-child(2),
  .now-playing,
  .player-settings{
    display: none;
  }

  .logo img:last-child{
    display: block;
    width: 100%;
  }

  .side-bar{
    float: none;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    flex-direction: row;
    padding: 0 20px;
  }

  .logo{
    width: 30px;
    height: 50px;
    margin-right: 8px;
  }

  .side-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .side-nav li{
    margin-bottom: 0;
  }

  .side-nav li img{
    width: 25px;
  }

  .side-nav li:nth-child(3){
    order: -1;
  }

  .side-nav li::before,
  .bottom-side-bar .user{
    display: none;
  }

  .side-nav li{
    padding: 0;
  }

  .side-top-nav {
    margin-left: 0;
  }

  .download-app {
    width: 31px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }

  .download-app img{
    width: 100%;
    opacity: 0.35;
  }

  /* MAIN */
  .content{
    height: calc(100vh - 50px);
    width: 100%;
    overflow-y: visible;
  }

  .upgrade{
    display: none;
  }

  .top-nav-content{
    display: none;
  }

  .smartphone-player{
    display: block;
    width: 100%;
    height: 390px;
    background-color: #000000;
    padding-bottom: 99px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }

  .bg-img-blurred{
    width: 100%;
    height: 100%;
    background-image: url("../img/noemi.jpg");
    background-size: cover;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .top-icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    padding: 10px 20px;
  }

  .up-top-icons{
    display: flex;
    justify-content: space-between;
  }

  .bottom-top-icons{
    height: calc(100% - 19px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .top-icons i{
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }

  .song-played{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .song-played-content{
    margin-top: 10%;
  }

  .song-played-img,
  .song-played .album-info{
    width: 100%;
    max-width: 255px;
  }

  .song-played-img img{
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  .song-played .album-info,
  .song-played .album-author .author{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .song-played .album-info h4{
    font-size: 22px;
  }

  .song-played .author{
    font-size: 15px;
  }

  .music{
    overflow-y: scroll;
    height: calc(100% - 389px);
    padding-top: 7px;
    padding-bottom: 10px;
  }

  .albums-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .album{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    margin-right: 0;
  }

  .album:hover{
    transform: scale(1.05);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    transition-duration: 0.7s;
  }

  .overlay{
    background-color: rgba(0, 0, 0, 0.1);
  }

  .overlay i{
    font-size: 40px;
  }

  .album-img{
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    border-radius: 15px;
  }

  .album-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .album-info{
    width: 70%;
    text-align: left;
  }

  .album-name{
    padding: 0;
  }

  .music h2,
  .author.intro{
    text-align: center;
  }

  .author.intro{
  margin-bottom: 15px;
  }

  .recomended-playists,
  .popular-artists{
    margin-top: 15px;
  }

}
