/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
body {
  font-family: 'Raleway', sans-serif;
  min-width: 450px;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

body, a {
  color: #717171;
  text-decoration: none;
  font-weight: 600;
}

body a:hover {
  color: white;
}

ul {
  list-style-type: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* FINE COMMON */
/* MAIN */
/* MAIN's > Side Bar */
.side-bar {
  width: 250px;
  height: calc(100vh - 100px);
  float: left;
  overflow: hidden;
  background-color: black;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 70%;
}

.logo img:last-child {
  display: none;
}

/* Side Top Nav */
.side-top-nav {
  margin-left: -15px;
}

.side-nav li img {
  width: 12%;
  display: inline-block;
  vertical-align: middle;
}

.side-nav li {
  padding-left: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.side-nav li:hover {
  cursor: pointer;
}

.side-nav li:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #1CB955;
  transform: translateX(-4px);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.side-nav li:hover:before,
.side-nav li:focus:before,
.side-nav li:active:before,
.side-nav li.active-side-nav:before {
  transform: translateY(0);
}

.active-side-nav {
  color: white;
}

.side-nav .active-side-nav,
.side-nav li:hover {
  opacity: 1;
}

.side-nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/* Playlists */
.playlists-container {
  margin-top: 20px;
  flex-grow: 1;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.add-playlist .cross {
  color: black;
  background-color: #717171;
  font-size: 55px;
  font-weight: 400;
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.add-playlist {
  margin-top: 15px;
  line-height: 38px;
}

.add-playlist a:hover .cross {
  background-color: white;
}

.bottom-playlists {
  height: calc(100% - 71px);
}

.playlist-list {
  height: 100%;
  min-height: 65px;
  overflow-y: auto;
}

.playlist-list li {
  margin-top: 16.5px;
}

/* Bottom Side Bar */
.download-app {
  width: calc(100% - 15px);
  padding-bottom: 7px;
  font-size: 14px;
  border-bottom: 1px solid #717171;
}

.download-app img {
  width: 12%;
  opacity: 0.5;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: -4px;
}

.download-app:hover img {
  opacity: 1;
}

.download-app:hover a {
  color: white;
}

.download-app:hover {
  cursor: pointer;
}

.user {
  margin: 15px 0 10px;
}

.user-icon {
  background-color: #717171;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.user-icon img {
  height: auto;
  width: 77%;
  vertical-align: bottom;
}

.user-name {
  display: inline-block;
  color: white;
  font-weight: 700;
  margin-left: 5px;
  line-height: 25px;
}

.user:hover {
  cursor: pointer
}

/* Fine MAIN's > Side Bar */
/* MAIN's > Content */
.content {
  width: calc(100% - 250px);
  height: calc(100vh - 100px);
  float: left;
  overflow-y: auto;
  background-color: #141922;
}

/* Upgrade */
.upgrade {
  width: calc(100% - 250px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.pagace-btn {
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 8px 40px;
  height: 50%;
  line-height: 50%;
  margin-right: 39px;
}

.pagace-btn:hover {
  cursor: pointer;
  transform: scale(1.08);
}

/* Content Section Nav */
.content-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
  margin-top: 100px;
}

.content-nav li {
  padding: 25px 10px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.content-nav li:before,
.active-top-nav:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 15px;
  background: #1CB955;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.content-nav li:hover:before,
.content-nav li:focus:before,
.content-nav li:active:before,
.active-top-nav:before {
  left: 25%;
  right: 25%;
}

.active-top-nav {
  color: white;
}

.content-nav li:last-child {
  margin-right: 0;
}

.content-nav li a {
  text-transform: uppercase;
  font-weight: 700;
}

/* Music */
.music {
  padding: 0 20px 50px;
  color: white;
}

.recently-played {
  margin-top: 5px;
}

.recently-played h2 {
  font-weight: 700;
}

.albums-container {
  margin-top: 33px;
  display: flex;
}

.album {
  width: calc(100% / 6);
  margin-right: 15px;
  text-align: center;
}

.album:last-child {
  margin-right: 0;
}

.album-img {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.album-img img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.popular-artists .album-img {
  border-radius: 50%;
}

.album:hover {
  cursor: pointer;
}

.album:hover .overlay {
  display: block;
}

.album-name {
  padding: 15px 0 5px;
}

.author {
  color: #717171;
  font-size: 14px;
  font-weight: 600;
}

.recomended-playists,
.popular-artists {
  margin-top: 50px;
}

.recomended-playists h2,
.popular-artists h2 {
  margin-bottom: 10px;
}

.popular-artists .album-img img {
  border-radius: 50%;
}

/* Fine MAIN's > Content */
/* FINE MAIN */
/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* Playing Track */
.now-playing {
  width: 250px;
  padding: 0 15px;
}

.footer-container-track {
  height: 100%;
  display: flex;
  align-items: center;
}

.track-image img {
  height: 45px;
  width: auto;
}

.track-info {
  margin-left: 10px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  flex-grow: 1;
}

.track-info a {
  font-weight: 600;
}

.track-info a:hover {
  text-decoration: underline;
}

.left-icons a {
  margin-left: 10px;
  font-size: 17px;
}

.left-icons i {}

.left-icons a:first-child {
  margin-left: 0;
}

/* Player */
.player {
  flex-grow: 1;
  width: calc(100% / 3);
  min-width: 150px;
}

.footer-container-player {
  text-align: center;
  height: 100%;
}

.player-commands {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-commands-container{
  width: 100%;
}

.player-commands-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-commands-icons a {
  margin-right: 30px;
  color: white;
}

.player-commands-icons a:last-child {
  font-size: 15px;
  margin-right: 0;
}

.player-commands-icons a:nth-child(3) {
  font-size: 38px;
  margin: 0 38px 0 8px;
}

.player-commands-icons a:nth-child(3):hover {
  transform: scale(1.1);
}

.play-bar {
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.play-bar {
  font-size: 13px;
  color: white;
}

.track-bar {
  background-color: #717171;
  height: 4px;
  width: 61%;
  border-radius: 4px;
  margin: 6px 25px 0;
}

.current-time-bar {
  background-color: white;
  opacity: 0.6;
  width: 20%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.track-bar:hover {
  cursor: pointer;
}

.track-bar:hover .current-time-bar {
  opacity: 1;
  background-color: #1CB955;
}

.track-bar:hover .circle {
  display: block;
}

/* Player Settings */
.player-settings {
  width: 250px;
  padding: 0 15px;
}

.footer-container-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.volume-control{
  width: 71%;
  margin-left: 3px
}

.right-icons i,
.volume-control i {
  color: white;
  font-size: 15px;
  margin-right: 12px;
}

.volume-bar {
  display: inline-block;
  background-color: #717171;
  height: 4px;
  width: 75%;
  vertical-align: middle;
  border-radius: 4px;
}

.current-volume {
  background-color: white;
  opacity: 0.6;
  width: 49%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-bar:hover {
  cursor: pointer;
}

.volume-bar:hover .current-volume {
  opacity: 1;
  background-color: #1CB955;
}

.volume-bar:hover .circle {
  display: block;
}

/* FINE FOOTER */
/* SEZIONE RESPONSIVE */
@media all and (max-width: 991px) {
  .albums-container {
    flex-wrap: wrap;
  }

  .album {
    width: calc(100% / 4 - 15px);
  }
}

@media all and (max-width: 767px) {

  /* CONTENT */
  .pagace-btn {
    height: 40%;
    line-height: 40%;
  }

  .content-nav li a {
    font-size: 14px;
  }

  .album {
    width: calc(100% / 2 - 15px);
  }

  /* FOOTER */
  .now-playing,
  .player-settings{
    width: calc(100% / 3);
    min-width: 150px;
  }

  .now-playing .left-icons{
    width: 18px;
    margin-right: 20px;
  }

  .track-info a{
    padding-right: 20px;
  }

  .left-icons a {
    margin-left: 0;
  }

  .player-commands-icons {
    justify-content: space-between;
  }

  .player-commands-icons a,
  .player-commands-icons a:nth-child(3) {
    margin: 0 20px 0 0;
  }

  .track-bar{
    margin: 6px 5px 0;
  }

  .right-icons{
    margin-left: 20px;
  }

  .volume-control{
    width: 48%;
  }

  .volume-bar {
    width: 57%;
  }

}

@media all and (max-width: 576px) {

  /* SIDE NAV */
  .side-bar {
    width: 60px;
    padding-right: 15px;
  }

  .logo img:last-child {
    display: block;
    width: 100%;
  }

  .logo img:first-child,
  .side-nav a,
  .logo img,
  .playlists-container,
  .download-app a,
  .user-name {
    display: none;
  }

  .download-app {
    width: 100%;
    border: 0;
    padding: 0;
  }

  .download-app img {
    width: 80%;
    margin: 0;
  }

  .side-top-nav {
    flex-grow: 1;
  }

  .side-nav li img {
    width: 100%;
  }

  /* CONTENT */
  .content,
  .upgrade {
    width: calc(100% - 60px);
  }

  /* FOOTER */
  .now-playing .left-icons{
    margin-right: 0;
  }

  .player-commands-icons a,
  .player-commands-icons a:nth-child(3) {
    margin: 0 10px 0 0;
  }

  .right-icons{
    margin-left: 0;
  }

  .right-icons i,
  .volume-control i {
    margin-right: 5px;
  }

  .volume-control{
    width: 59%;
  }

  .volume-bar{
    width: 63%;
  }
}

@media all and (max-width: 500px) {
  .track-info {
    font-size: 10px;
    padding-right: 2px;
  }

  .track-image img {
    height: 40px;
    width: auto;
  }
}
