/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
body{
  font-family: 'Raleway', sans-serif;
}

.app-wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

img{
  width: 100%;
}

body, a{
  color: #717171;
  text-decoration: none;
  font-weight: 600;
}

body a:hover{
  color: white;
}

ul{
  list-style-type: none;
}
/* FINE COMMON */


/* MAIN */
main{
  width: 100%;
  content: "";
  display: table;
  clear: both;
  display: flex;
}

/* MAIN's > Side Bar */
.side-bar{
  width: 15%;
  max-width: 280px;
  min-width: 220px;
  height: 88vh;
  float: left;
  overflow: hidden;
  background-color: black;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo{
  width: 100%;
  height: 12vh;
  min-height: 90px;
  display: flex;
  align-items: center;
}

.logo img{
  width: 70%;
}

/* Side Top Nav */
.side-nav li img{
  width: 12%;
  display: inline-block;
  vertical-align: middle;
}

.side-nav li{
  margin-bottom: 10px;
  opacity: 0.5;
}

.side-nav .active,
.side-nav li:hover{
  opacity: 1;
}

.side-nav a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}

/* Playlists */
.playlists-container{
  margin-top: 25px;
  flex-grow: 1;
  overflow: hidden;
}

.title{
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.new-playlist {
}

.add-playlist .cross{
  color: black;
  background-color: #717171;
  font-size: 55px;
  font-weight: 400;
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.add-playlist{
  margin-top: 15px;
  line-height: 38px;
}

.add-playlist a:hover .cross{
  background-color: white;
}


.bottom-playlists{
  height: calc(100% - 71px);
}

.playlist-list{
  height: 100%;
  min-height: 65px;
  overflow-y: auto;
}

.playlist-list li{
  margin-top: 16.5px;
}

/* Bottom Side Bar */
.download-app{
  width: calc(100% - 15px);
  padding-bottom: 7px;
  font-size: 13px;
  border-bottom: 1px solid #717171;
}

.download-app img{
  width: 12%;
  opacity: 0.5;
  vertical-align: middle;
  margin-right: 5px;
}

.download-app a:hover img{
  opacity: 1;
}

.user{
  margin: 15px 0 10px;
}

.user-icon{
  background-color: #717171;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.user-icon img{
  height: auto;
  width: 77%;
  vertical-align: bottom;
}

.user-name{
  display: inline-block;
  color: white;
  font-weight: 700;
  margin-left: 5px;
  line-height: 25px;
}
/* Fine MAIN's > Side Bar */



/* MAIN's > Content */
.content{
  width: 85%;
  height: 88vh;
  float: left;
  overflow: hidden;
  flex-grow: 1;
  background-color: #141922;
}

/* Upgrade */
.upgrade{
  width: 100%;
  height: 12vh;
  min-height: 90px;
  max-height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagace-btn{
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 8px 40px;
  height: 50%;
  line-height: 50%;
  margin-right: 15px;
}

.pagace-btn:hover{
  cursor: pointer;
  transform: scale(1.08);
}
/* Fine Upgrade */

/* Fine MAIN's > Content */

/* FINE MAIN */














/* FOOTER */
footer{
  width: 100%;
  height: 12vh;
  max-height: 120px;
  overflow: hidden;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

/* Playing Track */
.now-playing{
  width: 15%;
  max-width: 280px;
  min-width: 220px;
  padding: 0 15px;
}

.footer-container-track{
  height: 100%;
  display: flex;
  align-items: center;
}

.track-image img{
  height: 45px;
  width: auto;
}

.track-info{
  margin-left: 10px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  flex-grow: 1;
}

.track-info a{
  font-weight: 600;
}

.track-info a:hover{
  text-decoration: underline;
}

.left-icons a{
  margin-left: 10px;
  font-size: 17px;
}

.left-icons i{
}

.left-icons a:first-child{
  margin-left: 0;
}

/* Player */
.player{
  min-width: 50%;
  flex-grow: 1;
}

.footer-container-player{
  text-align: center;
  height: 100%;
}

.player-commands{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-commands-icons{
  display: flex;
  align-items: center;
}

.player-commands-icons a{
  margin-right: 30px;
  color: white;
}

.player-commands-icons a:last-child{
  font-size: 15px;
  margin-right: 0;
}

.player-commands-icons a:nth-child(3){
  font-size: 30px;
}

.player-commands-icons a:nth-child(3):hover{
  transform: scale(1.1);
}

.play-bar{
  height: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.play-bar{
  font-size: 13px;
  color: white;
}

.track-bar{
  background-color: #717171;
  height: 4px;
  width: 40%;
  border-radius: 4px;
  margin: 6px 25px 0;
}

.current-time-bar{
  background-color: white;
  opacity: 0.6;
  width: 20%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle{
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.track-bar:hover{
  cursor: pointer;
}

.track-bar:hover .current-time-bar{
  opacity: 1;
  background-color: #1CB955;
}

.track-bar:hover .circle{
  display: block;
}

/* Player Settings */
.player-settings{
  width: 15%;
  max-width: 280px;
  min-width: 220px;
  padding: 0 15px;
}

.footer-container-settings{
  display: flex;
  align-items: center;
  height: 100%;
}

.right-icons{
  text-align: right;
  content: "";
  display: table;
  clear: both;
}

.right-icons i{
  float: left;
}

.right-icons i,
.volume-control i{
  margin-right: 12px;
  color: white;
  font-size: 15px;
}

.volume-control{
  width: 68%;
}

.volume-control i{
  margin-right: 10px;
}

.volume-bar{
  display: inline-block;
  background-color: #717171;
  height: 4px;
  width: 70%;
  vertical-align: middle;
  border-radius: 4px;
}

.current-volume{
  background-color: white;
  opacity: 0.6;
  width: 49%;
  height: 4px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-bar:hover{
  cursor: pointer;
}

.volume-bar:hover .current-volume{
  opacity: 1;
  background-color: #1CB955;
}

.volume-bar:hover .circle{
  display: block;
}


/* FINE FOOTER */
